@model TallerDeMotos.ViewModels.CajaViewModel
@{
    ViewBag.Title = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>@Model.Titulo</h2>

    @using (Html.BeginForm("GuardarCaja", "Caja"))
    {
        @Html.Partial("_Sucursal")

        <div class="panel panel-default">
            <div class="panel-heading">@Model.Titulo</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(c => c.Nombre)
                            @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control", placeholder = "Ingrese Nombre de la Caja...", autocomplete = "off" })
                            @Html.ValidationMessageFor(c => c.Nombre)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.SucursalId, new { id = "labelSucursal" })
                            @(Html.Kendo().DropDownList()
                                .Name("SucursalId")
                                .DataTextField("NombreCompleto")
                                .DataValueField("Id")
                                .OptionLabel("Seleccione una Sucursal...")
                                .HtmlAttributes(new { style = "width: 75%" })
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Url("/api/sucursales/ObtenerSucursales"));
                                })
                            )
                            <button class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#myModal"></button>
                            <div>@Html.ValidationMessageFor(t => t.SucursalId)</div>
                        </div>
                    </div>                    
                </div>
                <div class="row">                    
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(c => c.EstadoCaja) Está Abierta?
                            </label>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(c => c.Id)
                @Html.AntiForgeryToken()
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var id = $("#Id").val();

        if (id == 0) {
            $.validator.setDefaults({
                ignore: "",
                // any other default options and/or rules,
                //errorPlacement: function (error, element) {
                //    console.log("error", error);
                //    console.log("element", element);
                //    if (element.is("[data-role=dropdownlist]")) {
                //        element.closest(".k-widget").after(error);
                //    }
                //}
            });
        }

        function updateCssOnPropertyChange(e) {
            var element = $(e.target);

            element.siblings("span.k-dropdown-wrap")
                   .add(element.siblings("div.k-multiselect-wrap"))
                   .add(element.parent("span.k-numeric-wrap"))
                   .add(element.parent("span.k-picker-wrap"))
                   .toggleClass("k-invalid", element.hasClass("input-validation-error"));
        }

        $(document).ready(function () {
            UseMutationObserver();

            $("#menuCaja").addClass('active');
        });
    </script>
}