@model TallerDeMotos.ViewModels.PresupuestoViewModel
@{
    ViewBag.Title = "Presupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_MenuVertical")

<style>
    .totales{
        display: none;
    }
</style>

<div class="col-lg-9 col-md-9 col-xs-11" id="contenido" style="display:none">
    <form id="presupuestoFormulario">
        <h2>Presupuesto</h2>
        <div class="row well">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.ClienteId)
                    @(Html.Kendo().DropDownList()
                    .Name("ClienteId")
                    .DataTextField("NombreCompleto")
                    .DataValueField("Id")
                    .OptionLabel("Seleccione un cliente...")
                    .HtmlAttributes(new { style = "width: 100%" })
                    .Filter("contains")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url("/api/clientes/ObtenerClientes"));
                    })
                    )
                    @Html.ValidationMessageFor(m => m.ClienteId)
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.VehiculoId)
                    @(Html.Kendo().DropDownList()
                    .Name("VehiculoId")
                    .DataTextField("NombreCompleto")
                    .DataValueField("Id")
                    .OptionLabel("Seleccione un vehículo...")
                    .HtmlAttributes(new { style = "width: 100%" })
                    //.Filter("contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url("/api/vehiculos/ObtenerVehiculosPorCliente").
                                    Data("filtrarVehiculos"))
                                    .ServerFiltering(true);
                    })
                    .Enable(false)
                    .CascadeFrom("ClienteId")
                    )
                    <script>
                        function filtrarVehiculos() {
                            return {
                                ClienteId: $("#ClienteId").val()
                            };
                        }
                    </script>
                    @Html.ValidationMessageFor(m => m.VehiculoId)
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label style="display:block">Fecha de Emisión:</label>
                    <input id="fechaDeEmision" class="form-control" onkeydown="return false;" />
                </div>
            </div>
        </div>

        <hr />
        <h4>Detalle del Presupuesto</h4>
        <div class="row table-responsive">
            <table class="table" id="prepDetalle">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="tipoProductos" />
                            <span class="error">Seleccionar Tipo de Producto</span>
                        </td>
                        <td>
                            <input id="productosId" disabled="disabled" style="width: 150px; display:inline-block" />
                            <span class="error-repetido">Producto o Servicio ya seleccionado</span>
                            <span class="error">Seleccionar Producto o Servicio</span>
                        </td>
                        <td>
                            <input type="text" id="productoDesc" readonly class="form-control" />
                        </td>
                        <td><input type="text" id="productoPrecio" readonly class="form-control" /></td>
                        <td>
                            @Html.TextBox("productoCantidad", "", new { @class = "form-control", autocomplete = "off", type = "number", min = "1", max = "99999", oninput = "maxLengthCheck(this)", onkeydown = "return isNumberKey(event)" })
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" id="agregar" value="Agregar" />
                        </td>

                    </tr>
                </tbody>
            </table>
            <input type="number" id="productoIva" class="form-control" name="productoIva" style="display: none" />
        </div>
        <div id="prepItems" style="display:none">
            <div class="row table-responsive">
                <table id="presupuestoDetalle" class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Producto o Servicio</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th class="totales"></th>
                            <th class="totales"></th>
                            <th class="totales"></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total Exentas:</label>
                        <input type="text" readonly class="form-control" style="width: 150px" id="totalExentas" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total IVA 5%:</label>
                        <input type="text" readonly class="form-control" style="width: 150px" id="totalIvaCinco" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total IVA 10%:</label>
                        <input type="text" readonly class="form-control" style="width: 150px" id="totalIvaDiez" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total a Pagar: </label>
                        <input type="text" name="totalAPagar" id="totalAPagar" value="" readonly class="form-control" style="width: 150px" />
                    </div>
                </div>
            </div>

            <div class="form-group" id="footerPresupuesto" style="padding:10px 0; text-align:right">
                <button id="submit" class="btn btn-primary" style="padding:10px 20px">Guardar Presupuesto</button>
                <a id="imprimirPresupuesto" href="" class="btn btn-primary js-imprimir">Imprimir Presupuesto</a>
            </div>
        </div>
    </form>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        function isNumberKey(e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
                return false;
            }
        }

        function probar() {
            $('#presupuestoDetalle tr.detalle').each(function (index, tr) {
                var lines = $('td', tr).map(function (index, td) {
                    return $(td).text();
                });
            });
        }        

        $.validator.setDefaults({
            ignore: "",
            // any other default options and/or rules,
            //errorPlacement: function (error, element) {
            //    console.log("error", error);
            //    console.log("element", element);
            //    if (element.is("[data-role=dropdownlist]")) {
            //        element.closest(".k-widget").after(error);
            //    }
            //}
        });

        function updateCssOnPropertyChange(e) {
            var element = $(e.target);

            element.siblings("span.k-dropdown-wrap")
                   .add(element.siblings("div.k-multiselect-wrap"))
                   .add(element.parent("span.k-numeric-wrap"))
                   .add(element.parent("span.k-picker-wrap"))
                   .toggleClass("k-invalid", element.hasClass("input-validation-error"));
        }

        $(document).ready(function () {
            UseMutationObserver();

            $("#contenido").fadeIn(2000);
            $("#menuVentas").addClass('active');
            $('#imprimirPresupuesto').hide();
            $("#submit").prop("disabled", true);

            var vm = {
                Presupuesto: {},
                PresupuestoDetalles: []
            }

            var total = 0;
            var totalExentas = 0;
            var totalIVACinco = 0;
            var totalIVADiez = 0;
            var subTotal = 0;
            var subTotlaIva5PorCiento = 0;
            var subTotalIva10PorCiento = 0;

            //Obtener los productos o servicios y agregarlos al Drop-down List.
            var productsDataSource = new kendo.data.DataSource({
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/api/productos/ObtenerProductos"
                    }
                }
            });

            var tipoProductos = $("#tipoProductos").kendoDropDownList({
                optionLabel: "Selecciona Tipo de Producto...",
                dataTextField: "Descripcion",
                dataValueField: "Id",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/api/tipoProductos/ObtenerTiposDeProductos"
                        }
                    }
                },
                change: function () {
                    var value = this.value();

                    if (value) {
                        if (value == 2)
                            $("#productoCantidad").prop("readonly", true);

                        productsDataSource.filter({
                            field: "ProductoTipoId",
                            operator: "eq",
                            value: parseInt(value)
                        });
                        productos.enable();
                    } else {
                        productos.enable(false);
                    }
                    productos.select(0);
                    $("#productoDesc").val("");
                    $("#productoPrecio").val("");
                    $("#productoCantidad").val("");
                    $("#productoIva").val("");
                }
            });

            var productos = $("#productosId").kendoDropDownList({
                filter: "eq",
                autoBind: false,
                optionLabel: "Selecciona Código Producto...",
                dataTextField: "Id",
                dataValueField: "Id",
                dataSource: productsDataSource,
                change: function () {
                        $("#agregar").prop("disabled", false);

                        var productoId = $("#productosId").val();
                        $.ajax({
                            url: "/api/productos/GetProducto/" + productoId,
                            contentType: "application/json",
                            method: "GET",
                            success: function (data) {
                                $(data).each(function (index, item) {
                                    $("#productoDesc").val(item.Descripcion);
                                    $("#productoPrecio").val(item.PrecioVenta);
                                    $("#productoIva").val(item.TipoImpuesto);
                                });
                            }

                        });
                        $("#productoCantidad").focus();
                }
            }).data("kendoDropDownList");

            var ddl = $("#productosId").data("kendoDropDownList");

            $("#fechaDeEmision").kendoDateTimePicker({
                culture: "es-ES",
                format: "MM/dd/yyyy HH:mm",
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                value: new Date(),
                dateInput: true,
                attributes: {
                    "width": "68%"
                }
            });

            $("#agregar").click(function () {
                var todoEsValido = true;               
                var bandera = false;
                var arreglo = [];
                $("#footerPresupuesto").remove("#imprimirPresupuesto");

                if($("#tipoProductos").val() == ""){
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                } else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                if ($("#productosId").val() == "") {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                }
                else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                $('#presupuestoDetalle tr.detalle').each(function (index, tr) {
                    var lines = $('td', tr).map(function (index, td) {
                        if (index == 0)
                            return $(td).text();
                    });

                    arreglo = lines;
                });

                for (var i = 0; i < arreglo.length; i++) {
                    if ($("#productosId").val() == arreglo[0]) {
                        bandera = true;
                    }
                        
                }
                
                if (bandera) {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error-repetido').css('display', 'block');
                } else {
                    $('.k-dropdown').siblings('span.error-repetido').css('display', 'none');
                }



                if (todoEsValido) {
                    $("#prepItems").fadeIn(1000);
                    $("#submit").prop("disabled", false);
                    var productoId = $("#productosId").val();
                    var productoDescripcion = $("#productoDesc").val();
                    var productoPrecio = $("#productoPrecio").val();
                    var productoCantidad = $("#productoCantidad").val();
                    var cantidad = productoCantidad != "" ? productoCantidad : 1;

                    var productoIva = $("#productoIva").val();
                   

                    if (productoIva == "")
                        productoIva = 0;

                    total = productoPrecio * cantidad;

                    if (productoIva == 0)
                        totalExentas += total;
                    else if (productoIva == 5) {
                        subTotlaIva5PorCiento += total;
                        totalIVACinco = Math.round(subTotlaIva5PorCiento / 21);
                    }
                    else {
                        subTotalIva10PorCiento += total;
                        totalIVADiez = Math.round(subTotalIva10PorCiento / 11);
                    }

                    subTotal = totalExentas + subTotlaIva5PorCiento + subTotalIva10PorCiento;

                    $("#totalAPagar").val(subTotal);
                    $("#totalExentas").val(totalExentas);
                    $("#totalIvaCinco").val(totalIVACinco);
                    $("#totalIvaDiez").val(totalIVADiez);

                    var totalLineaExentas = productoIva == 0 ? total : 0;
                    var totalLineaCincoXCiento = productoIva == 5 ? total : 0;
                    var totalLineaDiezXCiento = productoIva == 10 ? total : 0;

                    var presupuesto = '<tr class="detalle">' +
                        '<td>' + productoId + '</td>' +
                        '<td>' + productoDescripcion + '</td>' +
                        '<td>' + productoPrecio + '</td>' +
                        '<td>' + cantidad + '</td>' +
                        '<td>' + productoIva + '</td>' +
                        '<td>' + total + '</td>' +
                        '<td class="totales">' + totalLineaExentas + '</td>' +
                        '<td class="totales">' + totalLineaCincoXCiento + '</td>' +
                        '<td class="totales">' + totalLineaDiezXCiento + '</td>' +
                        '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                        '</tr>';

                    $(presupuesto).hide().appendTo("#presupuestoDetalle tbody").fadeIn(1000);

                    $("tbody").on("click", ".eliminar", function () {
                        var codProducto = $(this).closest("tr").find("td").eq(0).text();
                        var descProducto = $(this).closest("tr").find("td").eq(1).text();

                        valor = $(this).closest("tr").find("td").eq(5).text();
                        iva = $(this).closest("tr").find("td").eq(4).text();

                        $(this).parents("tr").fadeOut("normal", function () {
                            $(this).remove();
                            subTotal = subTotal - valor;
                            $("#totalAPagar").val(subTotal);

                            if (iva == 10) {
                                totalIVADiez = totalIVADiez - (Math.round(valor / 11));
                                $("#totalIvaDiez").val(totalIVADiez);
                            } else if(iva == 5) {
                                totalIVACinco = totalIVACinco - (Math.round(valor / 21));
                                $("#totalIvaCinco").val(totalIVACinco);
                            } else {
                                totalExentas = totalExentas - valor;
                                $("#totalExentas").val(totalExentas);
                            }

                            if ($("#totalAPagar").val() == 0) {
                                $("#submit").prop("disabled", true);
                            }
                        });
                    });


                    $("#productosId").data("kendoDropDownList").value("");
                    $("#tipoProductos").data("kendoDropDownList").value("");
                    $("#productoDesc").val("");
                    $("#productoPrecio").val("");
                    $("#productoIva").val("");

                    $("#productoCantidad").val("");
                    productos.enable(false);
                }                
            });


            //Agregar validación al formulario al hacer submit.
            $("#presupuestoFormulario").submit(function (e) {
                e.preventDefault();

                var form = $(this);

                if (!form.valid()) {
                    return false;
                }

                vm.Presupuesto = {
                    VehiculoId: $("#VehiculoId").val(),
                    SubTotal: $("#totalAPagar").val(),
                    FechaDeEmision: $("#fechaDeEmision").val(),
                    TotalExenta: $("#totalExentas").val(),
                    TotalIvaCincoPorCiento: $("#totalIvaCinco").val(),
                    TotalIvaDiezPorCiento: $("#totalIvaDiez").val()
                };

                $('#presupuestoDetalle tr.detalle').each(function (index, tr) {

                    var lines = $('td', tr).map(function (index, td) {

                        if (index != 9 && index != 1) {
                            return $(td).text();
                        }
                    });

                    vm.PresupuestoDetalles.push({
                        ProductoId: lines[0],
                        Cantidad: lines[2],
                        Total: lines[4],
                        TotalLineaExenta: lines[5],
                        TotalLineaCincoXCiento: lines[6],
                        TotalLineaDiezXCiento: lines[7]
                    });

                });

                $.ajax({
                    url: "/api/presupuestos/CrearPresupuesto",
                    method: "post",
                    data: vm
                })
                        .done(function (presupuesto) {
                            if (presupuesto.Success) {
                                
                                toastr.success("Hoja de Presupuesto creada con éxito.");
                                $("#submit").prop("disabled", true);
                                $("#imprimirPresupuesto").remove();
                                $("#footerPresupuesto").append('<a id="imprimirPresupuesto" href="PresupuestoReport?id=' + presupuesto.Id + '" target="_blank" class="btn btn-primary">Imprimir Presupuesto</a>');

                                $("#imprimirPresupuesto").click(function () {
                                    $("#productos").val("");
                                    $("#vehiculo").val("");
                                    $("#clientes").val("");
                                    $("#presupuestoDetalle tbody").empty();
                                    $("#totalAPagar").val("");
                                    $("#totalExentas").val("");
                                    $("#totalIvaCinco").val("");
                                    $("#totalIvaDiez").val("");
                                    subTotal = 0;

                                    vm = {
                                        Presupuesto: {},
                                        PresupuestoDetalles: []
                                    }

                                    //validator.resetForm();
                                    $("#imprimirPresupuesto").remove();
                                    $("#prepItems").fadeOut(3000);
                                });
                            }
                            else {
                                vm = {
                                    Presupuesto: {},
                                    PresupuestoDetalles: []
                                }
                                toastr.error("<p>Ocurrió algo inesperado</p>");
                            }
                        });
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
        });
    </script>
}

