@model TallerDeMotos.ViewModels.TalonarioViewModel
@{
    ViewBag.Title = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>@Model.Titulo</h2>

    @using (Html.BeginForm("GuardarTalonario", "Talonario"))
    {
        @Html.Partial("_Sucursal")

        <div class="panel panel-default">
            <div class="panel-heading">@Model.Titulo</div>
            <div class="panel-body">
                <div class="row">
                    <h4>@Html.ValidationSummary(true, "¡Por favor solucione los siguientes errores!")</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Timbrado)
                            @Html.TextBoxFor(t => t.Timbrado, new { @class = "form-control", placeholder = "Ingrese Timbrado...", autocomplete = "off", type = "number", min = "0", max = "99999999", oninput = "maxLengthCheck(this)", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                            @Html.ValidationMessageFor(t => t.Timbrado)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.CajaId)
                            @Html.DropDownListFor(t => t.CajaId, new SelectList(Model.Cajas, "Id", "Nombre"), "Seleccionar Caja", new { @class = "form-control", id = "cajaId" })
                            @Html.ValidationMessageFor(t => t.CajaId)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.FechaInicioVigencia)
                            @Html.TextBoxFor(t => t.FechaInicioVigencia, new { @class = "form-control" , onkeydown = "return false;", style = "width:74%; " })
                            @Html.ValidationMessageFor(t => t.FechaInicioVigencia)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.FechaFinVigencia)
                            @Html.TextBoxFor(t => t.FechaFinVigencia, new { @class = "form-control", onkeydown = "return false;", style = "width:74%; " })
                            <div class="row">
                                @Html.ValidationMessageFor(t => t.FechaFinVigencia)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.SucursalId, new { id = "labelSucursal" })                            
                            @(Html.Kendo().DropDownList()
                                .Name("SucursalId")
                                .DataTextField("Id")
                                .DataValueField("Id")
                                .OptionLabel("Seleccione una Sucursal...")
                                .HtmlAttributes(new { style = "width: 75%" })
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Url("/api/sucursales"));
                                })
                            )
                            <button class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#myModal"></button>
                            <div>@Html.ValidationMessageFor(t => t.SucursalId)</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.NumeroFacturaInicial)
                            @Html.TextBoxFor(t => t.NumeroFacturaInicial, new { @class = "form-control", placeholder = "N° Factura Inicial...", autocomplete = "off", type = "number", min = "0", max = "9999999999999", oninput = "maxLengthCheck(this)", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                            @Html.ValidationMessageFor(t => t.NumeroFacturaInicial)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.NumeroFacturaFinal)
                            @Html.TextBoxFor(t => t.NumeroFacturaFinal, new { @class = "form-control", placeholder = "N° Factura Final..." , autocomplete = "off", type = "number", min = "0", max = "9999999999999", oninput = "maxLengthCheck(this)", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                            @Html.ValidationMessageFor(t => t.NumeroFacturaFinal)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.NumeroFacturaActual)
                            @Html.TextBoxFor(t => t.NumeroFacturaActual, new { @class = "form-control", placeholder = "N° Factura Actual...", autocomplete = "off", type = "number", min = "0", max = "9999999999999", oninput = "maxLengthCheck(this)", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                            @Html.ValidationMessageFor(t => t.NumeroFacturaActual)
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(t => t.EstaActivo) ¿Se encuentra activo?
                            </label>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(t => t.Id)
                @Html.AntiForgeryToken()
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        $(document).ready(function () {
            $("#menuVentas").addClass('active');

            var id = $("#Id").val();
            var ddl = $("#SucursalId").data("kendoDropDownList");

            $("#FechaInicioVigencia").kendoDatePicker({
                culture: "es-ES",
                value: id == 0 ? new Date() : $("#FechaInicioVigencia").val(),
                dateInput: true
            });

            $("#FechaFinVigencia").kendoDatePicker({
                value: id == 0 ? new Date() : $("#FechaFinVigencia").val(),
                culture: "es-ES",
                dateInput: true
            });

            $('#myModal').on('hidden.bs.modal', function () {
                ddl.dataSource.read();
            });
        });
    </script>
}





