@model TallerDeMotos.Dtos.NuevaFacturaVentaDto
@{
    ViewBag.Title = "Factura de Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")

<style>
    .totales {
        display: none;
    }
</style>

<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <form id="facturaVentaFormulario">
        <h2>Factura de Venta</h2>

        <div class="row">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.SinPresupuesto) ¿Crear Factura de Venta sin Presupuesto?
                </label>
            </div>
        </div>
        <div class="row" id="facturaCabecera" style="display: none">
            <div class="row well" id="facturaConPresupuesto">
                <div class="row">
                    <div class="col-lg-4">
                        @Html.LabelFor(m => m.PresupuestoCodigo)
                        @(Html.Kendo().DropDownList()
                            .Name("PresupuestoCodigo")
                            .DataTextField("Id")
                            .DataValueField("Id")
                            .OptionLabel("Seleccione un presupuesto...")
                            .DataSource(source =>
                            {
                                source.Read(read => read.Action("ObtenerPresupuestosPendientes", "Presupuesto"));
                            })
                            .Events(e => e.Change("PresupuestoChangeEvent"))
                            .HtmlAttributes(new { style = "width:100%"})
                        )
                        @Html.ValidationMessageFor(m => m.PresupuestoCodigo)
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Cliente)
                            @Html.TextBoxFor(m => m.Cliente, new { @class = "form-control", @disabled = "disabled"})
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Vehiculo)
                            @Html.TextBoxFor(m => m.Vehiculo, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="facturaSinPresupuesto" style="display:none">
                <div class="row well">
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ClienteId)
                            @(Html.Kendo().DropDownList()
                                .Name("ClienteId")
                                .DataTextField("NombreCompleto")
                                .DataValueField("Id")
                                .OptionLabel("Seleccione un cliente...")
                                .HtmlAttributes(new { style = "width: 100%" })
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Url("/api/clientes"));
                                })
                            )
                            @Html.ValidationMessageFor(m => m.ClienteId)
                        </div>
                    </div>
                </div>
                <br />
                <div class="row table-responsive">
                    <table class="table" id="facturaVentaDetallePre">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input id="tipoProductos" />
                                    <span class="error">Seleccionar Tipo de Producto</span>
                                </td>
                                <td>
                                    <input id="productosId" disabled="disabled" style="width: 150px; display:inline-block" />
                                    <span class="error-repetido">Producto o Servicio ya seleccionado</span>
                                    <span class="error">Seleccionar Producto o Servicio</span>
                                </td>
                                <td>
                                    <input type="text" id="productoDesc" readonly class="form-control" />
                                </td>
                                <td><input type="text" id="productoPrecio" readonly class="form-control" /></td>
                                <td>
                                    @Html.TextBox("productoCantidad", "", new { @class = "form-control", autocomplete = "off", type = "number", min = "1", max = "99999", oninput = "maxLengthCheck(this)", onkeydown = "return isNumberKey(event)" })
                                </td>
                                <td>
                                    <input type="button" class="btn btn-primary" id="agregar" value="Agregar" />
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <input type="number" id="productoIva" class="form-control" name="productoIva" style="display: none" />
                </div>
            </div>
        </div>

        <div class="row" id="facturaDetalle" style="display:none">
            <h4>Factura de Venta Detalles</h4>
            <div class="table-responsive">
                <table class="table" id="facturaVentaDetalle">
                    <thead>
                        <tr>
                            <th>Producto Cod.</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th class="totales"></th>
                            <th class="totales"></th>
                            <th class="totales"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <small class="text-info">@Html.LabelFor(m => m.FacturaVentaDto.SubTotal):</small>
                <small class="text-muted" id="SubTotal">@Html.DisplayTextFor(m => m.FacturaVentaDto.SubTotal)</small>
                @Html.ValidationMessageFor(m => m.FacturaVentaDto.SubTotal)
            </div>
            <div class="row">
                <div id="footerFactura" style="padding:10px 0; text-align:right">
                    <button id="submit" class="btn btn-primary" style="padding:10px 20px">Registrar Factura de Venta</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/custom-jquery-validation.js"></script>
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        function myFunction(i) {
            var subtotal = 0;
            var precio = $("#precioVenta" + i).val();
            var cantidad = $("#cantidad" + i).val();
            var iva = $("#iva" + i).val();
            var total = (precio * cantidad) + (((precio * cantidad) * iva) / 100);
            $("#total" + i).val(function () {
                return total;
            });

            $("[id*=total]").each(function () {
                subtotal = subtotal + parseInt($(this).val());
            });
            $("#pagar").val(subtotal);
        }

        function PresupuestoChangeEvent() {
            $("#submit").prop("disabled", false);
            $("#facturaVentaDetalle tbody").empty();
            var id = $("#PresupuestoCodigo").val();
            var valor = 0;
            if (id != "") {
                $("#facturaDetalle").fadeIn(1000);
                var subtotal = 0;

                $.ajax({
                    url: "/api/presupuestoDetalles/" + id,
                    type: "get",
                    contentType: "application/json",
                    success: function (detalles) {
                        $.each(detalles, function (i, item) {
                            var iva = item.Producto.Iva == null ? 0 : item.Producto.Iva;
                            var presupuesto = '<tr class="detalle">' +
                            '<td>' + item.ProductoId + '</td>' +
                            '<td>' + item.Producto.Descripcion + '</td>' +
                            '<td>' + item.Producto.PrecioVenta + '</td>' +
                            '<td>' + item.Cantidad + '</td>' +
                            '<td>' + iva + '</td>' +
                            '<td>' + item.Total + '</td>' +
                            '<td class="totales">' + item.TotalLineaExenta + '</td>' +
                            '<td class="totales">' + item.TotalLineaCincoXCiento + '</td>' +
                            '<td class="totales">' + item.TotalLineaDiezXCiento + '</td>' +
                            '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                            '</tr>';
                            subtotal = subtotal + item.Total;
                            $("#SubTotal").html(subtotal);

                            if (i == 0) {
                                $("#Cliente").val(item.Presupuesto.Vehiculo.Cliente.NombreCompleto);
                                $("#Vehiculo").val(item.Presupuesto.Vehiculo.Matricula + "-" + item.Presupuesto.Vehiculo.Modelo.Marca.Nombre + " " + item.Presupuesto.Vehiculo.Modelo.Nombre);
                            }

                            $(presupuesto).hide().appendTo("#facturaVentaDetalle tbody").fadeIn(1000);
                        });
                    }
                });
            }
            else {
                $("#pagar").val("");
                $("#Cliente").val("");
                $("#Vehiculo").val("");
                $("#facturaDetalle").hide();
            }

            $("tbody").on("click", ".eliminar", function () {
                var subTotal = $("#SubTotal").html();
                valor = $(this).closest("tr").find("td").eq(5).text();

                $(this).parents("tr").fadeOut("normal", function () {
                    $(this).remove();
                    subTotal = subTotal - valor;
                    $("#SubTotal").html(subTotal);

                    if (document.getElementById('facturaVentaDetalle').rows.length <= 1) {
                        $("#submit").prop("disabled", true);
                    }
                });
            });
        }

        $.validator.setDefaults({
            ignore: "",
            // any other default options and/or rules,
            //errorPlacement: function (error, element) {
            //    console.log("error", error);
            //    console.log("element", element);
            //    if (element.is("[data-role=dropdownlist]")) {
            //        element.closest(".k-widget").after(error);
            //    }
            //}
        });

        function updateCssOnPropertyChange(e) {
            var element = $(e.target);

            element.siblings("span.k-dropdown-wrap")
                   .add(element.siblings("div.k-multiselect-wrap"))
                   .add(element.parent("span.k-numeric-wrap"))
                   .add(element.parent("span.k-picker-wrap"))
                   .toggleClass("k-invalid", element.hasClass("input-validation-error"));
        }


        $(document).ready(function () {
            UseMutationObserver();

            var total = 0;
            var totalExentas = 0;
            var totalIVACinco = 0;
            var totalIVADiez = 0;
            var subTotal = 0;
            var subTotlaIva5PorCiento = 0;
            var subTotalIva10PorCiento = 0;

            var botonSubmit = $("#submit");
            var ddlCliente = $("#ClienteId").data("kendoDropDownList");
            var ddlPresupuesto = $("#PresupuestoCodigo").data("kendoDropDownList");

            $("#facturaDetalle").hide();
            $("#facturaCabecera").fadeIn(2000);
            $("#menuVentas").addClass('active');

            var nuevaFacturaVentaDto = {
                FacturaVentaDto: {},
                FacturaVentaDetalles: []
            }

            $("#SinPresupuesto").change(function () {
                if ($(this).is(":checked")) {
                    $("#facturaSinPresupuesto").show();
                    $("#facturaConPresupuesto").hide();
                    ddlPresupuesto.value(0);
                    $("#Cliente").val("");
                    $("#Vehiculo").val("");
                }
                else {
                    $("#facturaSinPresupuesto").hide();
                    $("#facturaConPresupuesto").show();
                    ddlCliente.value(0);
                }
                $("#facturaVentaDetalle tbody tr").remove();
                $("#facturaDetalle").hide();
            });           

            //Obtener los productos o servicios y agregarlos al Drop-down List.
            var productsDataSource = new kendo.data.DataSource({
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/api/productos"
                    }
                }
            });

            var tipoProductos = $("#tipoProductos").kendoDropDownList({
                optionLabel: "Selecciona Tipo de Producto...",
                dataTextField: "Descripcion",
                dataValueField: "Id",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/api/tipoProductos"
                        }
                    }
                },
                change: function () {
                    var value = this.value();

                    if (value) {
                        if (value == 2)
                            $("#productoCantidad").prop("readonly", true);

                        productsDataSource.filter({
                            field: "ProductoTipoId",
                            operator: "eq",
                            value: parseInt(value)
                        });
                        productos.enable();
                    } else {
                        productos.enable(false);
                    }
                    productos.select(0);
                    $("#productoDesc").val("");
                    $("#productoPrecio").val("");
                    $("#productoCantidad").val("");
                    $("#productoIva").val("");
                }
            });

            var productos = $("#productosId").kendoDropDownList({
                filter: "eq",
                autoBind: false,
                optionLabel: "Selecciona Código Producto...",
                dataTextField: "Id",
                dataValueField: "Id",
                dataSource: productsDataSource,
                change: function () {
                    $("#agregar").prop("disabled", false);

                    var productoId = $("#productosId").val();
                    $.ajax({
                        url: "/api/productos/" + productoId,
                        contentType: "application/json",
                        method: "GET",
                        success: function (data) {
                            $(data).each(function (index, item) {
                                $("#productoDesc").val(item.Descripcion);
                                $("#productoPrecio").val(item.PrecioVenta);
                                $("#productoIva").val(item.Iva);
                            });
                        }

                    });
                    $("#productoCantidad").focus();
                }
            }).data("kendoDropDownList");

            var ddl = $("#productosId").data("kendoDropDownList");

            $("#agregar").click(function () {
                var todoEsValido = true;
                var bandera = false;
                var arreglo = [];

                if ($("#tipoProductos").val() == "") {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                } else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                if ($("#productosId").val() == "") {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                }
                else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                $('#facturaVentaDetalle tr.detalle').each(function (index, tr) {
                    var lines = $('td', tr).map(function (index, td) {
                        if (index == 0)
                            return $(td).text();
                    });

                    arreglo = lines;
                });

                for (var i = 0; i < arreglo.length; i++) {
                    if ($("#productosId").val() == arreglo[0]) {
                        bandera = true;
                    }

                }

                if (bandera) {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error-repetido').css('display', 'block');
                } else {
                    $('.k-dropdown').siblings('span.error-repetido').css('display', 'none');
                }



                if (todoEsValido) {
                    $("#facturaDetalle").fadeIn(1000);
                    $("#submit").prop("disabled", false);
                    var productoId = $("#productosId").val();
                    var productoDescripcion = $("#productoDesc").val();
                    var productoPrecio = $("#productoPrecio").val();
                    var productoCantidad = $("#productoCantidad").val();
                    var cantidad = productoCantidad != "" ? productoCantidad : 1;

                    var productoIva = $("#productoIva").val();


                    if (productoIva == "")
                        productoIva = 0;

                    total = productoPrecio * cantidad;

                    if (productoIva == 0)
                        totalExentas += total;
                    else if (productoIva == 5) {
                        subTotlaIva5PorCiento += total;
                        totalIVACinco = Math.round(subTotlaIva5PorCiento / 21);
                    }
                    else {
                        subTotalIva10PorCiento += total;
                        totalIVADiez = Math.round(subTotalIva10PorCiento / 11);
                    }

                    subTotal = totalExentas + subTotlaIva5PorCiento + subTotalIva10PorCiento;
                    $("#SubTotal").html(subTotal);

                    var totalLineaExentas = productoIva == 0 ? total : 0;
                    var totalLineaCincoXCiento = productoIva == 5 ? total : 0;
                    var totalLineaDiezXCiento = productoIva == 10 ? total : 0;

                    var presupuesto = '<tr class="detalle">' +
                        '<td>' + productoId + '</td>' +
                        '<td>' + productoDescripcion + '</td>' +
                        '<td>' + productoPrecio + '</td>' +
                        '<td>' + cantidad + '</td>' +
                        '<td>' + productoIva + '</td>' +
                        '<td>' + total + '</td>' +
                        '<td class="totales">' + totalLineaExentas + '</td>' +
                        '<td class="totales">' + totalLineaCincoXCiento + '</td>' +
                        '<td class="totales">' + totalLineaDiezXCiento + '</td>' +
                        '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                        '</tr>';

                    $(presupuesto).hide().appendTo("#facturaVentaDetalle tbody").fadeIn(1000);

                    $("tbody").on("click", ".eliminar", function () {
                        var codProducto = $(this).closest("tr").find("td").eq(0).text();
                        var descProducto = $(this).closest("tr").find("td").eq(1).text();

                        valor = $(this).closest("tr").find("td").eq(5).text();
                        iva = $(this).closest("tr").find("td").eq(4).text();

                        $(this).parents("tr").fadeOut("normal", function () {
                            $(this).remove();
                            subTotal = subTotal - valor;
                            $("#SubTotal").html(subTotal);

                            if (iva == 10) {
                                totalIVADiez = totalIVADiez - (Math.round(valor / 11));
                                $("#totalIvaDiez").val(totalIVADiez);
                            } else if (iva == 5) {
                                totalIVACinco = totalIVACinco - (Math.round(valor / 21));
                                $("#totalIvaCinco").val(totalIVACinco);
                            } else {
                                totalExentas = totalExentas - valor;
                                $("#totalExentas").val(totalExentas);
                            }

                            if (document.getElementById('facturaVentaDetalle').rows.length <= 1) {
                                $("#submit").prop("disabled", true);
                            }
                        });
                    });


                    $("#productosId").data("kendoDropDownList").value("");
                    $("#tipoProductos").data("kendoDropDownList").value("");
                    $("#productoDesc").val("");
                    $("#productoPrecio").val("");
                    $("#productoIva").val("");

                    $("#productoCantidad").val("");
                    productos.enable(false);
                }
            });

            $("#facturaVentaFormulario").submit(function (e) {
                e.preventDefault();
                
                var $form = $("#facturaVentaFormulario");
                if ($form.valid()) {
                    nuevaFacturaVentaDto.PresupuestoCodigo = $("#PresupuestoCodigo").val();
                    nuevaFacturaVentaDto.ClienteId = $("#ClienteId").val();


                    $('#facturaVentaDetalle tr.detalle').each(function (index, tr) {

                        var lines = $('td', tr).map(function (index, td) {

                            if (index != 1 && index != 9) {
                                return $(td).text();
                            }
                        });

                        nuevaFacturaVentaDto.FacturaVentaDetalles.push({
                            ProductoId: lines[0],
                            Precio: lines[1],
                            Cantidad: lines[2],
                            Total: lines[4],
                            TotalLineaExenta: lines[5],
                            TotalLineaCincoXCiento: lines[6],
                            TotalLineaDiezXCiento: lines[7]
                        });

                    });
                    if (nuevaFacturaVentaDto.FacturaVentaDetalles.length > 0) {
                        $.ajax({
                            url: "/api/facturaVentas",
                            method: "post",
                            contentType: 'application/json; chartset=utf-8',
                            data: JSON.stringify(nuevaFacturaVentaDto)
                        })
                        .done(function (facturaVenta) {
                            if (facturaVenta.Success) {
                                toastr.success(facturaVenta.Message);

                                botonSubmit.remove();
                                $("#footerFactura").append("<a class='btn btn-primary' href='/MovimientoCaja/MovimientoCajaFormulario'>Ir a caja</a>");
                                $("#footerFactura").append("<a class='btn btn-primary' href='/FacturaVenta' style='margin-left:4px'>Nueva Factura</a>");

                                nuevaFacturaVentaDto = {
                                    FacturaVentaDto: {},
                                    FacturaVentaDetalles: []
                                }
                            }
                        });
                    }
                    else {
                        toastr.error("Debe haber al menos un artículo en el detalle para registrar la factura.");
                    }                    
                }                
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });
    </script>
}
