@model TallerDeMotos.Dtos.NuevaFacturaVentaDto
@{
    ViewBag.Title = "Factura de Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")

<style>
    .totales {
        display: none;
    }
</style>

<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <form id="facturaVentaFormulario">
        <h2>Factura de Venta</h2>

        <div class="row">
            <div class="checkbox">
                <input type="checkbox" value="" id="chbPresupuesto" /> ¿Crear Factura de Venta sin Presupuesto?
            </div>
        </div>
        <div class="row" id="facturaCabecera" style="display: none">            
            <div class="row well" id="facturaConPresupuesto">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Presupuesto Código:</label>
                        <select id="presupuestoCodigo" class="form-control" name="presupuestoCodigo">
                            <option value="">Seleccione un Presupuesto...</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Cliente:</label>
                            <input id="cliente" class="form-control" type="text" readonly />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Vehículo:</label>
                            <input id="vehiculo" class="form-control" type="text" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="facturaSinPresupuesto" style="display:none">
                <div class="row well">
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ClienteId)
                            @(Html.Kendo().DropDownList()
                                .Name("ClienteId")
                                .DataTextField("NombreCompleto")
                                .DataValueField("Id")
                                .OptionLabel("Seleccione un cliente...")
                                .HtmlAttributes(new { style = "width: 100%" })
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Url("/api/clientes"));
                                })
                            )
                            @Html.ValidationMessageFor(m => m.ClienteId)
                        </div>
                    </div>
                </div>
                <br />
                <div class="row table-responsive">
                    <table class="table" id="facturaVentaDetallePre">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input id="tipoProductos" />
                                    <span class="error">Seleccionar Tipo de Producto</span>
                                </td>
                                <td>
                                    <input id="productosId" disabled="disabled" style="width: 150px; display:inline-block" />
                                    <span class="error-repetido">Producto o Servicio ya seleccionado</span>
                                    <span class="error">Seleccionar Producto o Servicio</span>
                                </td>
                                <td>
                                    <input type="text" id="productoDesc" readonly class="form-control" />
                                </td>
                                <td><input type="text" id="productoPrecio" readonly class="form-control" /></td>
                                <td>
                                    @Html.TextBox("productoCantidad", "", new { @class = "form-control", autocomplete = "off", type = "number", min = "1", max = "99999", oninput = "maxLengthCheck(this)", onkeydown = "return isNumberKey(event)" })
                                </td>
                                <td>
                                    <input type="button" class="btn btn-primary" id="agregar" value="Agregar" />
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <input type="number" id="productoIva" class="form-control" name="productoIva" style="display: none" />
                </div>
            </div>
        </div>        

        <div class="row" id="facturaDetalle" style="display:none">
            <h4>Factura de Venta Detalles</h4>
            <div class="table-responsive">
                <table class="table" id="facturaVentaDetalle">
                    <thead>
                        <tr>
                            <th>Producto Cod.</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th class="totales"></th>
                            <th class="totales"></th>
                            <th class="totales"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total Exentas:</label>
                        <input type="text" readonly class="form-control" style="width: 150px" id="totalExentas" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total IVA 5%:</label>
                        <input type="text" readonly class="form-control" style="width: 150px" id="totalIvaCinco" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total IVA 10%:</label>
                        <input type="text" readonly class="form-control" style="width: 150px" id="totalIvaDiez" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total a Pagar:</label>
                        <input type="number" id="pagar" class="form-control" readonly style="width: 150px" />
                    </div>
                </div>                
            </div>
            <div class="row">
                <div id="footerFactura" style="padding:10px 0; text-align:right">
                    <button id="submit" class="btn btn-primary" style="padding:10px 20px">Registrar Factura de Venta</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        function myFunction(i) {
            var subtotal = 0;
            var precio = $("#precioVenta" + i).val();
            var cantidad = $("#cantidad" + i).val();
            var iva = $("#iva" + i).val();
            var total = (precio * cantidad) + (((precio * cantidad) * iva) / 100);
            $("#total" + i).val(function () {
                return total;
            });

            $("[id*=total]").each(function () {
                subtotal = subtotal + parseInt($(this).val());
            });
            $("#pagar").val(subtotal);
        }

        $(document).ready(function () {
            var total = 0;
            var totalExentas = 0;
            var totalIVACinco = 0;
            var totalIVADiez = 0;
            var subTotal = 0;
            var subTotlaIva5PorCiento = 0;
            var subTotalIva10PorCiento = 0;

            var ddlCliente = $("#ClienteId").data("kendoDropDownList");

            $("#facturaDetalle").hide();
            $("#facturaCabecera").fadeIn(2000);
            $("#menuVentas").addClass('active');

            var nuevaFacturaVentaDto = {
                FacturaVentaDto: {},
                FacturaVentaDetalles: []
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("ObtenerPresupuestosPendientes", "Presupuesto")",
                contentType: "application/json",
                success: function (presupuesto) {
                    $.each(presupuesto, function (i) {
                        $("#presupuestoCodigo").append($('<option></option>').val(presupuesto[i].Id).html(presupuesto[i].Id));
                    });
                }
            });

            $("#chbPresupuesto").change(function () {
                if ($(this).is(":checked")) {
                    $("#facturaSinPresupuesto").show();
                    $("#facturaConPresupuesto").hide();
                    $("#presupuestoCodigo").val("");
                    $("#cliente").val("");
                    $("#vehiculo").val("");
                }
                else {
                    $("#facturaSinPresupuesto").hide();
                    $("#facturaConPresupuesto").show();
                    ddlCliente.text("");
                }
            });

            $("#presupuestoCodigo").change(function () {
                $("#submit").prop("disabled", false);
                $("#facturaVentaDetalle tbody").empty();
                var id = $("#presupuestoCodigo option:selected").val();

                if (id != "")
                {
                    $("#facturaDetalle").fadeIn(1000);
                    var subtotal = 0;

                    $.ajax({
                        url: "/api/presupuestoDetalles/" + id,
                        type: "get",
                        contentType: "application/json",
                        success: function (detalles) {
                            $.each(detalles, function (i, item) {
                                var iva = item.Producto.Iva == null ? 0 : item.Producto.Iva;
                                var presupuesto = '<tr class="detalle">' +
                                '<td>' + item.ProductoId + '</td>' +
                                '<td>' + item.Producto.Descripcion + '</td>' +
                                '<td>' + item.Producto.PrecioVenta + '</td>' +
                                '<td>' + item.Cantidad + '</td>' +
                                '<td>' + iva + '</td>' +
                                '<td>' + item.Total + '</td>' +
                                '<td class="totales">' + item.TotalLineaExenta + '</td>' +
                                '<td class="totales">' + item.TotalLineaCincoXCiento + '</td>' +
                                '<td class="totales">' + item.TotalLineaDiezXCiento + '</td>' +
                                '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                                '</tr>';
                                subtotal = subtotal + item.Total;
                                $("#pagar").val(subtotal);
                                $("#totalExentas").val(item.Presupuesto.TotalExenta);
                                $("#totalIvaCinco").val(item.Presupuesto.TotalIvaCincoPorCiento);
                                $("#totalIvaDiez").val(item.Presupuesto.TotalIvaDiezPorCiento);

                                if (i == 0) {
                                    $("#cliente").val(item.Presupuesto.Vehiculo.Cliente.NombreCompleto);
                                    $("#vehiculo").val(item.Presupuesto.Vehiculo.Matricula + "-" + item.Presupuesto.Vehiculo.Modelo.Marca.Nombre + " " + item.Presupuesto.Vehiculo.Modelo.Nombre);
                                }

                                $(presupuesto).hide().appendTo("#facturaVentaDetalle tbody").fadeIn(1000);
                            });
                        }
                    });
                }
                else
                {
                    $("#pagar").val("");
                    $("#cliente").val("");
                    $("#facturaDetalle").hide();
                }

                $("tbody").on("click", ".eliminar", function () {
                    var subTotal = $("#pagar").val();
                    valor = $(this).closest("tr").find("td input").eq(5).val();

                    $(this).parents("tr").fadeOut("normal", function () {
                        $(this).remove();
                        subTotal = subTotal - valor;
                        $("#pagar").val(subTotal);

                        if ($("#pagar").val() == 0) {
                            $("#submit").prop("disabled", true);
                        }
                    });
                });

            });

            //Obtener los productos o servicios y agregarlos al Drop-down List.
            var productsDataSource = new kendo.data.DataSource({
                serverFiltering: false,
                transport: {
                    read: {
                        url: "/api/productos"
                    }
                }
            });

            var tipoProductos = $("#tipoProductos").kendoDropDownList({
                optionLabel: "Selecciona Tipo de Producto...",
                dataTextField: "Descripcion",
                dataValueField: "Id",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/api/tipoProductos"
                        }
                    }
                },
                change: function () {
                    var value = this.value();

                    if (value) {
                        if (value == 2)
                            $("#productoCantidad").prop("readonly", true);

                        productsDataSource.filter({
                            field: "ProductoTipoId",
                            operator: "eq",
                            value: parseInt(value)
                        });
                        productos.enable();
                    } else {
                        productos.enable(false);
                    }
                    productos.select(0);
                    $("#productoDesc").val("");
                    $("#productoPrecio").val("");
                    $("#productoCantidad").val("");
                    $("#productoIva").val("");
                }
            });

            var productos = $("#productosId").kendoDropDownList({
                filter: "eq",
                autoBind: false,
                optionLabel: "Selecciona Código Producto...",
                dataTextField: "Id",
                dataValueField: "Id",
                dataSource: productsDataSource,
                change: function () {
                    $("#agregar").prop("disabled", false);

                    var productoId = $("#productosId").val();
                    $.ajax({
                        url: "/api/productos/" + productoId,
                        contentType: "application/json",
                        method: "GET",
                        success: function (data) {
                            $(data).each(function (index, item) {
                                $("#productoDesc").val(item.Descripcion);
                                $("#productoPrecio").val(item.PrecioVenta);
                                $("#productoIva").val(item.Iva);
                            });
                        }

                    });
                    $("#productoCantidad").focus();
                }
            }).data("kendoDropDownList");

            var ddl = $("#productosId").data("kendoDropDownList");

            $("#agregar").click(function () {
                var todoEsValido = true;
                var bandera = false;
                var arreglo = [];

                if ($("#tipoProductos").val() == "") {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                } else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                if ($("#productosId").val() == "") {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                }
                else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                $('#facturaVentaDetalle tr.detalle').each(function (index, tr) {
                    var lines = $('td', tr).map(function (index, td) {
                        if (index == 0)
                            return $(td).text();
                    });

                    arreglo = lines;
                });

                for (var i = 0; i < arreglo.length; i++) {
                    if ($("#productosId").val() == arreglo[0]) {
                        bandera = true;
                    }

                }

                if (bandera) {
                    todoEsValido = false;
                    $('.k-dropdown').siblings('span.error-repetido').css('display', 'block');
                } else {
                    $('.k-dropdown').siblings('span.error-repetido').css('display', 'none');
                }



                if (todoEsValido) {
                    $("#facturaDetalle").fadeIn(1000);
                    $("#submit").prop("disabled", false);
                    var productoId = $("#productosId").val();
                    var productoDescripcion = $("#productoDesc").val();
                    var productoPrecio = $("#productoPrecio").val();
                    var productoCantidad = $("#productoCantidad").val();
                    var cantidad = productoCantidad != "" ? productoCantidad : 1;

                    var productoIva = $("#productoIva").val();


                    if (productoIva == "")
                        productoIva = 0;

                    total = productoPrecio * cantidad;

                    if (productoIva == 0)
                        totalExentas += total;
                    else if (productoIva == 5) {
                        subTotlaIva5PorCiento += total;
                        totalIVACinco = Math.round(subTotlaIva5PorCiento / 21);
                    }
                    else {
                        subTotalIva10PorCiento += total;
                        totalIVADiez = Math.round(subTotalIva10PorCiento / 11);
                    }

                    subTotal = totalExentas + subTotlaIva5PorCiento + subTotalIva10PorCiento;

                    $("#pagar").val(subTotal);
                    $("#totalExentas").val(totalExentas);
                    $("#totalIvaCinco").val(totalIVACinco);
                    $("#totalIvaDiez").val(totalIVADiez);

                    var totalLineaExentas = productoIva == 0 ? total : 0;
                    var totalLineaCincoXCiento = productoIva == 5 ? total : 0;
                    var totalLineaDiezXCiento = productoIva == 10 ? total : 0;

                    var presupuesto = '<tr class="detalle">' +
                        '<td>' + productoId + '</td>' +
                        '<td>' + productoDescripcion + '</td>' +
                        '<td>' + productoPrecio + '</td>' +
                        '<td>' + cantidad + '</td>' +
                        '<td>' + productoIva + '</td>' +
                        '<td>' + total + '</td>' +
                        '<td class="totales">' + totalLineaExentas + '</td>' +
                        '<td class="totales">' + totalLineaCincoXCiento + '</td>' +
                        '<td class="totales">' + totalLineaDiezXCiento + '</td>' +
                        '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                        '</tr>';

                    $(presupuesto).hide().appendTo("#facturaVentaDetalle tbody").fadeIn(1000);

                    $("tbody").on("click", ".eliminar", function () {
                        var codProducto = $(this).closest("tr").find("td").eq(0).text();
                        var descProducto = $(this).closest("tr").find("td").eq(1).text();

                        valor = $(this).closest("tr").find("td").eq(5).text();
                        iva = $(this).closest("tr").find("td").eq(4).text();

                        $(this).parents("tr").fadeOut("normal", function () {
                            $(this).remove();
                            subTotal = subTotal - valor;
                            $("#pagar").val(subTotal);

                            if (iva == 10) {
                                totalIVADiez = totalIVADiez - (Math.round(valor / 11));
                                $("#totalIvaDiez").val(totalIVADiez);
                            } else if (iva == 5) {
                                totalIVACinco = totalIVACinco - (Math.round(valor / 21));
                                $("#totalIvaCinco").val(totalIVACinco);
                            } else {
                                totalExentas = totalExentas - valor;
                                $("#totalExentas").val(totalExentas);
                            }

                            if ($("#pagar").val() == 0) {
                                $("#submit").prop("disabled", true);
                            }
                        });
                    });


                    $("#productosId").data("kendoDropDownList").value("");
                    $("#tipoProductos").data("kendoDropDownList").value("");
                    $("#productoDesc").val("");
                    $("#productoPrecio").val("");
                    $("#productoIva").val("");

                    $("#productoCantidad").val("");
                    productos.enable(false);
                }
            });

            $("#facturaVentaFormulario").submit(function (e) {
                e.preventDefault();

                nuevaFacturaVentaDto.FacturaVentaDto = {                    
                    PresupuestoCodigo: $("#presupuestoCodigo").val(),
                    SubTotal: $("#pagar").val(),
                    TotalExenta: $("#totalExentas").val(),
                    TotalCincoPorCiento: $("#totalIvaCinco").val(),
                    TotalDiezPorCiento: $("#totalIvaDiez").val()
                }

                nuevaFacturaVentaDto.ClienteId = $("#ClienteId").val();


                $('#facturaVentaDetalle tr.detalle').each(function (index, tr) {

                    var lines = $('td', tr).map(function (index, td) {

                        if (index != 1 && index != 9) {
                            return $(td).text();
                        }
                    });

                    nuevaFacturaVentaDto.FacturaVentaDetalles.push({
                        ProductoId: lines[0],
                        Precio: lines[1],
                        Cantidad: lines[2],
                        Total: lines[4],
                        TotalLineaExenta: lines[5],
                        TotalLineaCincoXCiento: lines[6],
                        TotalLineaDiezXCiento: lines[7]
                    });

                });

                $.ajax({
                    url: "/api/facturaVentas",
                    method: "post",
                    contentType: 'application/json; chartset=utf-8',
                    data: JSON.stringify(nuevaFacturaVentaDto)
                })
                .done(function (facturaVenta) {
                    if (facturaVenta.Success) {
                        toastr.success(facturaVenta.Message);
                        //$("#presupuestoCodigo option:selected").remove();
                        $("#cliente").val("");
                        $("#facturaVentaDetalle tbody").empty();
                        $("#pagar").val("");

                        nuevaFacturaVentaDto = {
                            FacturaVentaDto: {},
                            FacturaVentaDetalles: []
                        }
                        $("#facturaDetalle").fadeOut(1000);
                    }
                    else {
                        if (facturaCompra.Message == "PK_dbo.FacturaCompras")
                            toastr.error("<p class='eliminar'>No se pudo registrar la Factura de Compra. El número de Orden de Compra con el valor '" + $("#nroOrden").data("kendoDropDownList").text() + "' ya existe.</p>");
                        else
                            toastr.error("<p>Ocurrió algo inesperado</p>");
                    }
                });
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });
    </script>
}
