@model TallerDeMotos.ViewModels.OrdenCompraViewModel
@{
    ViewBag.Title = "Orden de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_MenuVertical")

<div class="col-lg-9 col-md-9 col-xs-11" id="contenido" style="display:none">
    <form id="ordenCompraFormulario">
        @Html.Partial("_Producto")
        <div class="row" id="ordenCabecera">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <p>Orden de Compra</p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" style="display:flex; justify-content:space-between">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group">
                                @Html.LabelFor(oc => oc.OrdenCompraNumero)
                                @Html.TextBoxFor(oc => oc.OrdenCompraNumero, new { @class = "form-control input-sm", @disabled = "disabled" })
                                @Html.ValidationMessageFor(oc => oc.OrdenCompraNumero)
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            @Html.LabelFor(oc => oc.FormaPagoId)                         
                            @(Html.Kendo().DropDownList()
                                .Name("FormaPagoId")
                                .DataTextField("Nombre")
                                .DataValueField("Id")
                                .OptionLabel("Seleccione una Forma de Pago")                                
                                .HtmlAttributes(new { style = "width: 100%" })
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Url("/api/formasPago"));
                                })
                            )
                            @Html.ValidationMessageFor(oc => oc.FormaPagoId)
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            @Html.LabelFor(oc => oc.ProveedorId)
                                @(Html.Kendo().DropDownList()
                                .Name("ProveedorId")
                                .DataTextField("RazonSocial")
                                .DataValueField("Id")
                                .OptionLabel("Seleccione un Proveedor")
                                .HtmlAttributes(new { style = "width: 100%" })
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Url("/api/proveedores"));
                                })
                            )
                            @Html.ValidationMessageFor(oc => oc.ProveedorId)
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <p>Detalles</p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row table-responsive">
                        <table class="table" id="ordenDetalle">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Producto Cod.</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>IVA</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#myModal"></button>                                        
                                    </td>
                                    <td>
                                        <input id="productosId" style="width: 150px; display:inline-block" />
                                        <span class="error">Selecciona un producto</span>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="productoDesc" />
                                    </td>
                                    <td>
                                        <input type="number" id="precio" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" id="cantidad" class="quantity form-control" min="1" max="9999" oninput="maxLengthCheck(this)" onkeydown="javascript: return event.keyCode == 69 ? false : true" />
                                        <span class="error">Cantidad no válida</span>
                                    </td>
                                    <td>
                                        <input type="number" id="iva" class="iva form-control" />
                                    </td>
                                    <td>
                                        <input type="button" id="add" value="Agregar" style="width:80px" class="btn btn-success" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="orderItems" style="display:none">
                        <div class="table-responsive">
                            <table class="table table-condensed" id="ordenCompraDetalle">
                                <thead>
                                    <tr>
                                        <th style="display: none">Producto Id</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>IVA</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="orderFooter">
                            <div class="form-group">
                                <label>Total a Pagar: </label>
                                <input type="text" name="totalAPagar" id="totalAPagar" value="" readonly class="form-control" style="width: 150px; display: inline-block" />
                            </div>
                            <div id="footerOrden" style="padding:10px 0; text-align:right">
                                <button id="submit" class="btn btn-primary" style="padding:10px 20px">Guardar Orden</button>
                                <a id="imprimirOrden" href="" class="btn btn-primary js-imprimir">Imprimir Orden</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>      
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>       
        $(document).ready(function () {
            UseMutationObserver();

            $("#contenido").fadeIn(2000);
            $("#menuCompras").addClass('active');
            $('#imprimirOrden').hide();
            CargarMaxCodOrdenCompra();

            var vm = {
                OrdenCompra: {},
                OrdenCompraDetalles: []
            }

            var total = 0;
            var subTotal = 0;
            var count = 0;

            //Detalle orden de compra
            $("#productosId").kendoDropDownList({
                filter: "eq",
                dataTextField: "Id",
                dataValueField: "Id",
                optionLabel: "Selecciona un Código...",
                dataSource: {
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: "/api/productos",
                        }
                    }
                },
                change: function(){
                    var productoId = $("#productosId").val();
                    console.log(productoId);
                    $.ajax({
                        url: "/api/productos/" + productoId,
                        contentType: "application/json",
                        method: "GET",
                        success: function (data) {
                            $(data).each(function (index, item) {
                                $("#productos").val(item.Id);
                                $("#productoDesc").val(item.Descripcion);
                                $("#precio").val(item.PrecioCosto);
                                $("#iva").val(item.Iva);
                            });

                            $("#cantidad").focus();
                        }
                    });
                }
            });

            var ddl = $("#productosId").data("kendoDropDownList");
            var wrapper = ddl.wrapper;

            wrapper.keypress(function (e) {

                console.log(e.keyCode);
                ddl.open();
            });

            $("#iva").prop("disabled", true);
            $("#productoDesc").prop("disabled", true);
            $("#precio").prop("disabled", true);
            $("#submit").prop("disabled", true);

            $("#add").click(function(event){
                var todoEsValido = true;
                var productoCodigo = $("#productosId").val();
                $("#footerOrden").remove("#imprimirOrden");

                if ($("#productosId").val() == "") {
                    todoEsValido = false;

                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                }
                else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                if ($("#cantidad").val() <= 0) {
                    todoEsValido = false;
                    $('#cantidad').siblings('span.error').css('display', 'block');
                }
                else {
                    $('#cantidad').siblings('span.error').css('display', 'none');
                }

                if (todoEsValido) {
                    $("#submit").prop("disabled", false);

                    ddl.focus();
                    $("#orderItems").fadeIn(1000);
                    count++;
                    total = ($("#precio").val() * $("#cantidad").val());
                    subTotal = subTotal + total;

                    $("#totalAPagar").val(subTotal);

                    var ordenCompra = '<tr class="detalle">' +
                        '<td style="display:none">' + $("#productosId").val() + '</td>' +
                        '<td>' + $("#productoDesc").val() + '</td>' +
                        '<td>' + $("#precio").val() + '</td>' +
                        '<td>' + $("#cantidad").val() + '</td>' +
                        '<td>' + $("#iva").val() + '</td>' +
                        '<td>' + total + '</td>' +
                        '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                        '</tr>';

                    $(ordenCompra).hide().appendTo("#ordenCompraDetalle tbody").fadeIn(1000);                 

                    var oldData = ddl.dataSource.data();
                    var length = oldData.length;
                    console.log(length);

                    // iterate and remove "done" items
                    var item, i;
                    for (i = length - 1; i >= 0; i--) {

                        item = oldData[i];
                        console.log(item);
                        if (item.Id == productoCodigo) {
                            ddl.dataSource.remove(item);
                        }

                    }

                    $("tbody").on("click", ".eliminar", function () {
                        var codProducto = $(this).closest("tr").find("td").eq(0).text();
                        var descProducto = $(this).closest("tr").find("td").eq(1).text();

                        valor = $(this).closest("tr").find("td").eq(5).text();

                        $(this).parents("tr").fadeOut("normal", function () {
                            $(this).remove();
                            subTotal = subTotal - valor;
                            $("#totalAPagar").val(subTotal);

                            if ($("#totalAPagar").val() == 0) {
                                console.log("ok");
                                $("#submit").prop("disabled", true);
                            }

                           ddl.dataSource.add({
                                Id: codProducto,
                                Descripcion: codProducto
                           });
                        });                        
                        
                        
                    });


                    $("#productosId").data("kendoDropDownList").value("");
                    $("#productoDesc").val("");
                    $("#precio").val("");
                    $("#iva").val("");

                    $("#cantidad").val("");
                }
            });

            $("#ordenCompraFormulario").submit(function (e) {
                e.preventDefault();

                var form = $(this);
                if (!form.valid()) {
                    return false;
                }

                vm.OrdenCompra = {
                    OrdenCompraNumero: $("#OrdenCompraNumero").val(),
                    FormaPagoId: $("#FormaPagoId").val(),
                    SubTotal: $("#totalAPagar").val(),
                    ProveedorId: $("#ProveedorId").val()
                }

                $('#ordenCompraDetalle tr.detalle').each(function (index, tr) {

                    var lines = $('td', tr).map(function (index, td) {

                        if (index != 1 && index !=6)
                            return $(td).text();
                    });

                    vm.OrdenCompraDetalles.push({
                        ProductoId: lines[0],
                        Cantidad: lines[2],
                        Total: lines[4]
                    });

                });

                $.ajax({
                    url: "/api/ordenCompras",
                    method: "post",
                    data: vm
                })
                .done(function (ordenCompra) {
                    if (ordenCompra.Success){
                        toastr.success(ordenCompra.Message);
                        $("#submit").prop("disabled", true);
                        $("#imprimirOrden").remove();
                        $("#footerOrden").append('<a id="imprimirOrden" href="OrdenCompraReport?ordenNro=' + $("#OrdenCompraNumero").val() + '" target="_blank" class="btn btn-primary">Imprimir Orden</a>');

                        $("#imprimirOrden").click(function () {
                            CargarMaxCodOrdenCompra();
                            $("#FormaPagoId").data("kendoDropDownList").value("");
                            $("#ProveedorId").data("kendoDropDownList").value("");
                            $("#ordenCompraDetalle tbody").empty();

                            $("#totalAPagar").val("");
                            subTotal = 0;

                            vm = {
                                OrdenCompra: {},
                                OrdenCompraDetalles: []
                            }

                            //Para recargar el dropdownlist
                            ddl.dataSource.read();
                            $("#imprimirOrden").remove();
                            $("#orderItems").fadeOut(2000);
                        });                        
                    }
                    else {
                        vm = {
                            OrdenCompra: {},
                            OrdenCompraDetalles: []
                        }

                        if (ordenCompra.Message == "IX_OrdenCompraNumero")
                            toastr.error("<p class='eliminar'>No se pudo crear la Orden de Compra. El número de Orden de Compra con el valor '" + $("#ordenNro").val() + "' ya existe.</p>");
                        else
                            toastr.error("<p>Ocurrió algo inesperado</p>");
                    }
                })
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });

        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        function CargarMaxCodOrdenCompra()
        {
            var ordenNro = document.getElementById('OrdenCompraNumero');
            $.ajax({
                url: "@Url.Action("BuscarMaxCodOrdenNro", "OrdenCompra")",
                dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                ordenNro.value = data;
            },
            error: function (request, status, error) {

            },
            failure: function (response) {
                alert("arriva al failure");
            }
        });
        }

        $.validator.setDefaults({
            ignore: "",
            // any other default options and/or rules,
            //errorPlacement: function (error, element) {
            //    console.log("error", error);
            //    console.log("element", element);
            //    if (element.is("[data-role=dropdownlist]")) {
            //        element.closest(".k-widget").after(error);
            //    }
            //}
        });


        function updateCssOnPropertyChange(e) {
            var element = $(e.target);

            element.siblings("span.k-dropdown-wrap")
                   .add(element.siblings("div.k-multiselect-wrap"))
                   .add(element.parent("span.k-numeric-wrap"))
                   .add(element.parent("span.k-picker-wrap"))
                   .toggleClass("k-invalid", element.hasClass("input-validation-error"));
        }
    </script>    
}