@model TallerDeMotos.ViewModels.RolViewModel
@{
    ViewBag.Title = "Agregar Rol";
}

@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Agregar Rol</h2>

    @using (Html.BeginForm())
    {
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-cog"></span> Agregar Rol</div>
            <div class="panel-body">
                <div class="row">
                    <h4>@Html.ValidationSummary(true, "¡Por favor solucione los siguientes errores!")</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(r => r.Name)
                            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", placeholder = "Nombre del rol", autocomplete = "off" })
                            @Html.ValidationMessageFor(r => r.Name)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(r => r.Descripcion)
                            @Html.TextAreaFor(r => r.Descripcion, new { @class = "form-control", placeholder = "Descripción del rol", autocomplete = "off" })
                            @Html.ValidationMessageFor(r => r.Descripcion)
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-check"></span> Permisos</div>
            <div class="panel-body">
                <div class="row">
                    @for (int i = 0; i < Model.Permisos.Count(); i++)
                    {
                        <div class="col-md-4">
                            <label>
                                @Html.CheckBoxFor(r => r.Permisos[i].Selected)
                                @Html.DisplayFor(r => r.Permisos[i].Text)
                                @Html.HiddenFor(r => r.Permisos[i].Value)
                                @Html.HiddenFor(r => r.Permisos[i].Text)
                            </label>
                        </div>
                    }

                </div>
                @Html.AntiForgeryToken()
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#menuSeguridad").addClass('active');
        })
    </script>
}
