@model TallerDeMotos.ViewModels.RolViewModel
@{
    ViewBag.Title = "Editar Rol";
}

@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Editar Rol</h2>
    @Html.ActionLink("Lista de Roles", "Index") | @Html.ActionLink("Administrar el Rol de Usuario", "ManageUserRoles")
    <hr />
    @using (Html.BeginForm())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Editar Rol</div>
            <div class="panel-body">
                <div class="row">
                    <h4>@Html.ValidationSummary(true, "¡Por favor solucione los siguientes errores!")</h4>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(r => r.Name)
                        @Html.TextBoxFor(r => r.Name, new { @class = "form-control", maxlength = 50, autocomplete = "off" })
                        @Html.ValidationMessageFor(r => r.Name)
                    </div>
                    @Html.HiddenFor(r => r.OriginalRoleName)
                    @Html.AntiForgeryToken()
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    }
</div>

<script>
        $(document).ready(function () {
            $("#menuSeguridad").addClass('active');
        })
</script>
}
