@model TallerDeMotos.ViewModels.AseguradoraViewModel
@{
    ViewBag.Title = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>@Model.Titulo</h2>

    @using (Html.BeginForm("GuardarAseguradora", "Aseguradora"))
    {
        @Html.Partial("_Ciudad")

        <div class="panel panel-default">
            <div class="panel-heading">@Model.Titulo</div>
            <div class="panel-body">
                <div class="row">
                    <h4>@Html.ValidationSummary(true, "¡Por favor solucione los siguientes errores!")</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombre) <span class="asterisco">*</span>
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingrese Nombre de la Aseguradora...", maxlength = 20, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Nombre)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Contacto)
                            @Html.TextBoxFor(m => m.Contacto, new { @class = "form-control", placeholder = "Ingrese Contacto de la Aseguradora...", maxlength = 50, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Contacto)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Ruc)
                            @Html.TextBoxFor(m => m.Ruc, new { @class = "form-control", placeholder = "Ingrese Ruc de la Aseguradora...", maxlength = 10, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Ruc)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Direccion)
                            @Html.TextAreaFor(m => m.Direccion, new { @class = "form-control", placeholder = "Ingrese Dirección de la Aseguradora...", maxlength = 255, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Direccion)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Telefono)
                            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", placeholder = "Ingrese Teléfono de la Aseguradora...", maxlength = 50, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Telefono)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CorreoElectronico)
                            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", placeholder = "Ingrese Correo Electrónico de la Aseguradora...", maxlength = 50, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.CorreoElectronico)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CiudadId) <span class="asterisco">*</span>
                            <br />
                            @(Html.Kendo().DropDownList()
                                    .Name("CiudadId")
                                    .DataTextField("Nombre")
                                    .DataValueField("Id")
                                    .OptionLabel("Seleccione una ciudad...")
                                    .HtmlAttributes(new { style = "width: 75%" })
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => read.Url("/api/ciudades"));
                                    })
                            )                          
                            <button class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#myModal"></button>
                            <div>@Html.ValidationMessageFor(m => m.CiudadId)</div>
                            
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var id = $("#Id").val();

        if (id == 0) {
            $.validator.setDefaults({
                ignore: "",
                onkeyup: false
                // any other default options and/or rules,
                //errorPlacement: function (error, element) {
                //    console.log("error", error);
                //    console.log("element", element);
                //    if (element.is("[data-role=dropdownlist]")) {
                //        element.closest(".k-widget").after(error);
                //    }
                //}
            });
        }

        function updateCssOnPropertyChange(e) {
            var element = $(e.target);

            element.siblings("span.k-dropdown-wrap")
                   .add(element.siblings("div.k-multiselect-wrap"))
                   .add(element.parent("span.k-numeric-wrap"))
                   .add(element.parent("span.k-picker-wrap"))
                   .toggleClass("k-invalid", element.hasClass("input-validation-error"));
        }
        $(document).ready(function () {            
            UseMutationObserver();

            $("#menuTaller").addClass('active');
            var ddl = $("#CiudadId").data("kendoDropDownList");

            $('#myModal').on('hidden.bs.modal', function () {
                ddl.dataSource.read();
            });

            $("#btnGuardar").click(function () {
                $(".k-widget").removeClass("input-validation-error");
            });
        });
    </script>
}

